<main id="app">
    <header>
      <img src="../assets/bg-header-desktop.svg">
    </header>
    <section >
      <div class="tagbar-wrap">
        <div class="tagbar">
          <a class="tag-role">Frontend</a>
          <button class="remove-button">X</button>
          <button class="clear-button" v-on:click="selectRole('clear')">Clear</button>
        </div>
      </div>
    </section>
    <section>
      <Profile
        v-for="profile in profiles"
        :key="profile.id"
        :profile="profile"
        v-on:selectedRole="receiveRole($event)"
      />
    </section>
</main>
